body {
    color: #000;
    background: #000;
    overflow: hidden;
    // background-image: url("assets/bg.jpg");
    // background-size: cover;
    // background-position: center;
    font-family: $main-font;
}

